flax==0.6.7
optax
einops
tqdm

transformers
datasets
omegaconf
pytorch-lightning

wandb
bunch

tensorflow
orbax

git+ssh://git@github.com/vvvm23/vqgan-ldm-jax.git

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

clu
rich
